@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body{
    background-color: rgb(34, 34, 34);
    font-family: poppinsregular;
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
}
 .main-login{
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1600px;
    margin: 0 auto;
    padding: 15px;
}
h1{
    color: white;
}
.name-class{
    color :rgb(26, 151, 74);
    
}
#hq{
    color: white;
}
span{
    color: rgb(26, 151, 74);
}
.card-login{
    color: rgb(77, 71, 71);
}


.main-login{
    width: 100vw;
    height: 100vh;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left-login{
    width: 70VW;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}

.left-login > h1{
    font-size: 3vw;
    color:rgb(26, 151, 74);
}

.left-login-image{
    width: 25vw;
    
}

.right-login{
    width: 50w;
    height: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

.card-login{
   width: 60%; 
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 70px ;
    background:  #28262e;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056 ;
}

.card-login > h1{
    color: rgb(26, 151, 74);
    font-weight: 800;
    margin:0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5px 0px;

}

.cinza{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: rgb(71, 70, 70);
    color: #f0ffffde;
    font-size: 10pt;
    box-shadow: 0px 10px 40px #00000056 ;
    outline: none;
    box-sizing: border-box;
}



.textfield > label {
    color:#f0ffffde;
    margin-bottom: 5px ;
} 

.textfield > input::placeholder{
    color: #f0ffff94;  
}


.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    text-transform: uppercase ;
    font-weight: 800;
    letter-spacing: 3px;
    color:#9ca0a0de;
    background: rgb(26, 151, 74) ;
    cursor: pointer;
    box-shadow: 0p 10px 40px -12px #00ff8052 ;
}.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 20px;
    outline: none;
    text-transform: uppercase ;
    font-weight: 800;
    letter-spacing: 3px;
    color:white;
    background: rgb(26, 151, 74) ;
    cursor: pointer;
    box-shadow: 0p 10px 40px -12px #00ff8052 ;
}

.pjuros{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 10pt;
    box-shadow: 0px 10px 40px #00000056 ;
    outline: none;
    
}


.tabelaSac{
    margin-left: 10%;
}

.h2-sac{
    font-size: 20px;
}

.resultado h2{
    margin-top: 10%;
    margin-left: 35%;
    color: rgb(26, 151, 74);
}

.tabelaPrice{
    color: rgb(34, 34, 34);
    margin-left: 20%;
    font-size: large;
    font-size: 25px;
    
    
    
}
.tabelaPrice-p{

    color: aliceblue;
    font-size: 20px;
}
.card-tab{
    background-color: rgb(26, 151, 74);
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 30px;

}


@media only sreen and (max-widht: 950px){
    .card-login{
        width: 85%;
    }
}


@media only sreen and (max-widht: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
      width: 100%;
      height: auto;  
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }
    .card-login{
        width: 90%;
    }
}